* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  height: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-size: 62.5%;
  font-family: 'Roboto Mono', monospace;
  background-image: linear-gradient(to bottom right, #333, #000); }

button {
  border: none;
  cursor: pointer;
  outline: none; }

.container {
  display: flex;
  flex-direction: column;
  width: 26rem;
  height: 34rem;
  margin: 0 auto;
  color: #fff; }

.timer {
  flex: 0 0 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem; }

.settings {
  flex: 1;
  display: flex;
  align-items: center; }

.controls {
  flex: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .controls__header {
    text-align: center;
    font-size: 1rem; }
  .controls__btn {
    flex: 0 30%;
    width: 3rem;
    background: transparent;
    font-size: 2rem;
    color: #fff;
    transition: all .4s;
    position: relative; }
    .controls__btn:hover {
      color: aqua; }
    .controls__btn::after {
      content: '';
      height: .5rem;
      width: .5rem;
      background: #eee;
      border-radius: 10rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all .6s;
      z-index: -1; }
    .controls__btn:hover::after {
      animation: circleglow .6s; }
    .controls__btn:active {
      top: 2px; }
  .controls__display {
    flex: 0 15%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem; }

.timer-btn {
  border-radius: 20rem;
  width: 6rem;
  height: 6rem;
  background: #fff;
  transition: all .4s; }
  .timer-btn:hover {
    background: aqua; }

@keyframes circleglow {
  0% {
    width: .5rem;
    height: .5rem;
    opacity: 1; }
  100% {
    width: 4.5rem;
    height: 4.5rem;
    opacity: 0; } }
