* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  height: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-size: 62.5%;
  font-family: 'Helvetica Neue', Arial, sans-serif; }

button {
  border: none;
  cursor: pointer;
  outline: none; }

.container {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 25rem;
  background: #333;
  color: #fff; }

.timer {
  flex: 0 0 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem; }

.settings {
  flex: 1;
  display: flex;
  align-items: center; }

.controls {
  flex: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .controls__btn {
    flex: 1;
    background: #333;
    font-size: 2rem;
    color: #fff; }
  .controls__display {
    flex: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem; }

.timer-btn {
  border-radius: 20rem;
  width: 6rem;
  height: 6rem;
  background: greenyellow;
  transition: background .4s; }
  .timer-btn:hover {
    background: green; }
