* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 62.5%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}




.container {
  display: flex;
  flex-direction: column;
  width: 26rem;
  height: 34rem;
  background: #333;
  color: #fff;
}

.timer {
  flex: 0 0 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.settings {
  flex: 1;
  display: flex;
  align-items: center;
}

.controls {
  flex: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    text-align: center;
    font-size: 1rem;
  }

  &__btn {
    flex: 0 30%;
    width: 3rem;
    background: #333;
    font-size: 2rem;
    color: #fff;
    transition: all .4s;

    &:hover {
      color: aqua;
    }
  }

  &__display {
    flex: 0 10%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
}

.timer-btn {
  border-radius: 20rem;
  width: 6rem;
  height: 6rem;
  background: #fff;
  transition: all .4s;

  &:hover {
    background: aqua;
  }
}