:root {
  --background: linear-gradient(to bottom right, #e4e4e4, #ffffff);
  --font-color: rgb(255, 34, 34);
  --btn-color: #645e9d;
  --hover-color: #99d5c9;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: 'Roboto Mono', monospace;
  background-image: var(--background);
}

button {
  outline: 0;
  border: none;
}
