:root {
  --background: linear-gradient(to bottom right, #6969ff, #4343a2);
  --primary-color: #fc6c6c;
  --btn-color: #645e9d;
  --hover-color: #99d5c9;
}

$breakpoint-small: 650px;

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  height: 100%;
  font-family: 'Space Mono', monospace;
  background-image: var(--background);
}

button {
  outline: 0;
  border: none;
  cursor: pointer;
}

@keyframes progress {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}
