<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700", rel="stylesheet")
    title Pomodoro Clock
  body

    .container
      main.main
        .timer

        .settings
          .controls
            span.controls__header Break
            button.controls__btn.btn--up#break-increase &#9650;
            span.controls__display#break-display
            button.controls__btn.btn--down#break-decrease &#9660;
          
          button.timer-btn

          .controls
            span.controls__header Sessions
            button.controls__btn.btn--up#session-increase &#9650;
            span.controls__display#session-display
            button.controls__btn.btn--down#session-decrease &#9660;

    #progress