<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://fonts.googleapis.com/css?family=Space+Mono", rel="stylesheet")
    title Pomodoro Clock
  body

    .container
      input#menu-checkbox(type="checkbox")
      label#menu-btn(for="menu-checkbox")
      section.settings
        .settings__inner
          .settings__item
            .settings__header Session
            .settings__controls
              button.settings__btn#session-decrease-js -
              span.settings__display#session-display-js 10
              button.settings__btn#session-increase-js +
          .settings__item
            .settings__header Break
            .settings__controls
              button.settings__btn#break-decrease-js -
              span.settings__display#break-display-js 3
              button.settings__btn#break-increase-js +


      section.timer
        .timer__outer
          .timer__progress--1
          .timer__progress--2
          .timer__progress--3
        button.timer__button
        .timer__display
      //- Checkbox hack for settings menu

