<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700", rel="stylesheet")
    title Pomodoro Clock
  body

    .container
      main.main
        section.timer
          .timer__outer
            .timer__progress--1
            .timer__progress--2
          button.timer__button GO
          .timer__display

        //- Checkbox hack for settings menu
        input.menu-btn(type="checkbox")

        section.settings
          .settings__item
            .settings__name Session
            button.settings__decrease#session-decrease-js -
            .settings__display--session 10
            button.settings__increase#session-increase-js +
          .settings__item
            .settings__name Break
            button.settings__decrease#break-decrease-js -
            .settings__display--break 3
            button.settings__increase#break-increase-js +
